# STM32CubeIDE
.metadata/
*.launch
*.log
Release/
build/
.ipch/
*.ioc~*
*.bak

# Compiled object files
*.o
*.d

# Executables
*.elf
*.bin
*.hex

# Other
*.su
*.cyclo
*.map

# System files
.DS_Store
Thumbs.db
